africastalking==2.0.2
asgiref==3.12.1
certifi==2026.6.17
charset-normalizer==3.4.9
click==8.4.2
colorama==0.4.6
Django==6.0.7
argon2-cffi==23.1.0
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.0
gunicorn==26.0.0
h11==0.16.0
idna==3.18
packaging==26.2
psycopg2-binary==2.9.12
dj-database-url==3.1.0
python-dotenv==1.2.2
PyYAML==6.0.3
requests==2.34.2
responses==0.26.2
schema==0.7.8
sqlparse==0.5.5
tzdata==2026.3
urllib3==2.7.0
uvicorn==0.51.0
whitenoise==6.12.0
